<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kazi</title>
</head>
<body>
    <h1>So what's included in Day 57?</h1>
    <hr>
    <p><strong>Templating Dynamic HTML pages with Flask and Jinja.</strong></p>
    <p><strong>Combining Jinja Templating with public APIs.</strong></p>
    <p><strong>Multiline Python statements with Jinja in HTML files.</strong></p>
    <p><strong>URL building with Flask.</strong></p>
    <hr>
<a href="{{ url_for('blog') }}">Go to Blog</a>
<hr>
</body>
<footer>
    <p>Copyright {{ year }}. Built by Or Kazaz.</p>
</footer>
</html>